<div class="h-100" role="main">

  <mat-drawer-container class="h-100">
    <mat-drawer #drawer mode="over">
      <mat-list role="list" style="width: 300px;">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">
          <a mat-button routerLink="/material-design" (click)="drawer.toggle()">Link</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <mat-progress-bar mode="indeterminate" *ngIf="isBusy" class="fixed-top w-100"></mat-progress-bar>

      <mat-toolbar color="primary" mode>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a mat-button routerLink="/" routerLinkActive="active">Jinlei Hang</a>

      </mat-toolbar>

      <button class="btn btn-primary">Click me!</button>
      <mat-spinner></mat-spinner>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>

</div>
